{% extends "base.html" %}
{% block content %}
<section class="featured-categories" style="height: 100vh;">
    <h2 style="margin-top: 30px;">Categories</h2>
    <div class="category-grid">
        {% for category in categories %}
        <div class="category-card">
            <img src="{{ url_for('static', filename='uploads/' + (category.file_path if category.file_path else 'default.jpg')) }}" alt="{{ category.name }}">
            <h3>{{ category.name }}</h3>
            <!-- Delete Button -->
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}